@import 
url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

/* color variables */
:root {
    --main: #ffffff;
    --theme: #ff0000;
}


.body{
    font-family: Oxygen, sans-serif;
    margin: 2rem;
}

/*radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.60))*/
.dark-overlay {
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.90));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.CelebrityCard{
    
    color: white;
    overflow: hidden;
    box-shadow: 0 2px 20px var(--main);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.CelebrityCard:hover{
    transform: scale(1.02);
}

.celebrityCardImage{
    height: 8rem;
    width: 90%;
    object-fit: cover;
    background-size: cover;
}

.celebrityCardImage:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.60));
  }

.celebrityName{
    padding: 1rem;
    color: var(--main);
}

.celebrityFollowers{
    padding: 0 1rem;
    color: var(--main);
}

.celebrityCardButton{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    transition: background 200ms ease-in color 200ms ease-in;
    color: var(--main);
    border: 2px solid var(--theme);
    background: transparent;
    color: ar(--main);
    border-radius: 2rem;
}

.celebrityCardButton:hover
{
    background: var(--main);
    color: var(--theme);
}
